<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests" thread-count = "5">
<!-- <listeners>
<listener class-name="com.cts.automation.amazon.AnnotationTransformer">
</listener> -->
<test name="Tests1">
  <parameter name = "browser" value = "chrome"> </parameter>

      <classes> 
      <class name="com.cts.automation.amazon.DataProviders"></class>
      
    </classes>
  
  </test> <!-- Test -->
  </test> <!-- Test -->
</suite> <!-- Suite -->
